@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* CSS Variables */
:root {
  --bg-color: #ffffff;
  --text-color: rgb(37, 37, 37);
  --box-padding-x: 200px;
  --section-padding-y: 50px;
  --header-height: 100px;
}

/* General styling */
* {
  box-sizing: border-box;
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  text-align: left;
  background-color: #ffffff;
}

/* Header Styling */
header {
  background-color: rgba(67, 188, 170, 0.85);
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: var(--header-height);
  padding: 0 var(--box-padding-x);
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
}

main {
  position: relative;
}
section {
  margin-bottom: 100px;
  padding: var(--section-padding-y) var(--box-padding-x);
}

h1 {
  text-transform: uppercase;
  font-size: 48px;
  margin-bottom: 10px;
  font-weight: 800;
}

h2 {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
  color: #00c7a9;
}

h3 {
  font-size: 20px;
  font-weight: 500;
}

p {
  font-size: 18px;
  font-weight: 300;
  color: #666666;
  line-height: 1.5;
}

.banner-text {
  font-size: 18px;
  font-weight: 300;
  color: #ffffff;
  line-height: 1.2;
}

.header-logo {
  height: 67px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 70px;
}

.navbar-menu li {
  text-decoration: none;
  text-align: center;
  font-weight: 600;
}

.button {
  background-color: #00c7a9;
  color: #ffffff;
  border: none;
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  font-weight: 550;
  width: fit-content;
  margin-top: 10px;
}

.banner {
  display: flex;
  align-items: center;
  background-color: #2c3731;
  color: #ffffff;
  background-image: url("../Assets/Images/mother-01-desktop.png");
  background-position: bottom 100% right 30%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 var(--box-padding-x);
  padding-top: var(--header-height);
  margin-top: calc(-1 * var(--header-height));
  height: 750px;
}

.banner-content {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  width: 50%;
  background-color: rgba(44, 50, 49, 0.6);
  padding: 10px 30px;
  border-radius: 20px;
}

.section-with-image {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

.section-content {
  width: 100%;
  gap: 15px;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.section-image img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 50px;
}

.section-with-icons {
  display: flex;
  background-color: #f5f5f5;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  gap: 15px;
}

.section-with-icons-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px 40px;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.section-with-icons-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  text-align: center;
}

.section-with-icons-list img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.section-with-icons-list span {
  font-size: 18px;
  font-weight: 400;
  color: #666666;
  line-height: 1.4;
}

.faqs {
  background-color: #f5f5f5;
  margin-bottom: 0;
}

.faqs-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 15px;
}
.faqs-list li {
  text-decoration: none;
  text-align: left;
  font-weight: 400;
  background-color: #ffffff;
  color: #666666;
  padding: 20px 30px;
  border-radius: 18px;
}

footer {
  background-color: #8dd4c9;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: top;
  padding: var(--section-padding-y) var(--box-padding-x);
}

.footer-logo {
  height: 100px;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 100px;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 10px;
}
.footer-menu li {
  text-decoration: none;
  text-align: left;
  font-weight: 500;
}

.footer-text {
  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
  line-height: 1.2;
}

@media (max-width: 1400px) {
  :root {
    --box-padding-x: 100px;
  }
}
@media (max-width: 1200px) {
  :root {
    --box-padding-x: 60px;
  }
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 18px;
  }
  p {
    font-size: 16px;
  }

  header {
    height: 80px;
  }
  .header-logo {
    height: 60px;
  }

  .navbar-menu {
    display: none;
  }

  .banner {
    margin-bottom: 0;
    padding-top: 40px;
  }

  .banner-content {
    width: 70%;
  }

  .section-content {
    margin-bottom: 20px;
  }

  .section-with-image {
    flex-direction: column;
    gap: 20px;
  }

  section {
    margin-bottom: 0;
  }

  .section-with-icons-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  :root {
    --box-padding-x: 40px;
  }
  header {
    padding: 0 var(--box-padding-x);
    height: 60px;
  }
  .header-logo {
    height: 40px;
  }
  .banner {
    align-items: flex-start;
    background-image: url("../Assets/Images/mother-01-mobile.png");
    background-position: bottom;
  }
  .banner-content {
    width: 100%;
    margin-top: 100px;
  }
  footer {
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 60px;
  }
  .footer-content {
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    gap: 60px;
  }
  .footer-logo {
    width: 60%;
    height: auto;
  }

  .section-with-icons-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .section-with-icons-list span {
    font-size: 16px;
  }
}
